*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

.all{
    display: flex;
    gap: 2rem;
}

h1{
    font-size: 40px;
    text-align: center;
    margin: 12px 12px;
}
h1 + p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
}

#ingredients{
    background-color: azure;
    max-width: 800px;
    padding: 30px;
    margin: 24px 0 24px 44px;
    border-radius: 10px;
}

section > h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 18px;
}

ul{
    margin-bottom: 20px;
}

ul > h3{
    margin-bottom: 14px;
}

li{
    margin-bottom: 10px;
    list-style-type: circle;
    list-style-position: inside;
}

#instructions{
    background-color: springgreen;
    max-width: 800px;
    padding: 30px;
    margin: 24px 0 24px 0;
    border-radius: 10px;
}

ol > h3{
    margin-bottom: 14px;
}

ol{
    margin-bottom: 20px;
}