body{
  background: rosybrown;
  font-family: Arial, sans-serif;
}

.business-card{
  width: 300px;
  background-color: lightblue;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.profile-image{
  max-width: 100%;
}
p{
  margin: 5px 5px;
}

a{
  text-decoration: none;
}