/* body{
    background-color: grey;
} */

h1{
    font-size: 40px;
    text-align: center;
}

.p{
    font-size: 20px;
    text-align: center;
    margin-top: -12px;
}

.Card-container{
    width: 800px;
    background-color: antiquewhite;
    color: black;
    margin: 40px;
    padding: 25px;
}

.Card-container > p{
    font-size: 18px;
}