*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #9CCFFF;
}

#header{
    display: flex;
    justify-content: space-between;
    margin: auto auto 30px auto;
    background-color: #685AFF;
    padding: 24px;
}

h1{
    font-size: 35px;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    gap: 2rem;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}

li{
    list-style: none;
}

a:hover{
    color: white;
}

#upcoming-events{
    width: 50%;
    padding: 35px;
    display: flex;
    gap: 2rem;
}

h2{
    font-size: 28px;
}

article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#past-events{
    width: 50%;
    padding: 35px;
    display: flex;
    gap: 3.5rem;
}

h3{
    font-size: 21px;
    color: #562F00;
}
p{
    font-size: 16px;
}

img{
    width: 500px;
}

footer{
    background-color: #685AFF;
    padding: 24px;
    margin: 24px auto auto auto;
    text-align: center;
}

span{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}